# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Backend Secrets
backend/serviceAccountKey.json
render_key.txt
backend/render_key.txt

# Builds
dist/
dist_electron/
build/
.expo/

# OS Files
.DS_Store
Thumbs.db
